html, body {  
	margin: 0;  
	padding: 0;
	background-color: black;
	}
	
#body {
	background: white;
	color: black;
	font-style: helvetica;
	margin: 0px;
	padding: 0px;
}

#box1 {
	background: black;
	text-align: center;
	font-size: 45px;
	font-family: garamond;
	height: 90vh;
	margin-top: 10%;
}
h1 {
	color: white;
	font-style: helvetica;
}
#box2 {
	Padding: 0px;
	margin-top: 0px;
	text-align: center;
	background-image: url("parallax_image.jpg");
	height: 100vh;
	width: 75%;
	background-size: cover;
	display: table;
	background-attachment: fixed;
	-webkit-transform:perspective (1000px);
	perspective: 1000px;
	margin-left: 150px;
}
#box3 {
	Padding: 0px;
	margin-top: 0px;
	margin-left: 155px;
	text-align: justify;
	background: black;
	height: 90vh;
	width: 75%;
	background-size: cover;
	display: table;
	background-attachment: fixed;
	-webkit-transform: perspective (1000px);
	perspective: 1000px;
	position: center;
}

#box4 {
	Padding: 0px;
	margin-top: 0px;
	margin-left: 155px;
	text-align: center;
	background-image: url("photo_2.jpg");
	height: 100vh;
	width: 75%;
	background-size: cover;
	display: table;
	background-attachment: fixed;
	-webkit-transform:perspective (1000px);
	perspective: 1000px;
}
	
#main {
	font-size: 18px;
	margin-left: 175px;
	margin-right: 175px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
	text-indent: 50px;
	color: white;
	position: center;
	padding: 55px;
}